/* IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CABEÇALHO */
/* CSS CABEÇALHO BÁSICO */
header {
  display: flex;
  background-color: #52008c;
  padding: 15px;
}

/* CSS LOGO DO CABEÇALHO */
header .logo {
  padding: 10px;
  display: flex;
}

header .local {
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  background-color: #429f9c;

  /* TEXTO */
  text-align: center;
  font-family: "Baloo Bhaina 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
/* FIM DO CABEÇALHO */
